SECRET_KEY=change_me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=django_blog
POSTGRES_USER=django_blog_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=db
POSTGRES_PORT=5432

RECAPTCHA_PUBLIC_KEY=change_me
RECAPTCHA_PRIVATE_KEY=change_me